.topnav {
    overflow: hidden;
    background-color: #f7f2f2;
    a {
      float: left;
      color: #ca1b1b;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    a:hover {
      background-color: #ddd;
      color: black;
    }
    a.active {
      background-color: #9f5baf;
      color: white;
    }
  }
  
